
/* Estilos para o modo escuro */
body.dark {
    background-color: #000000;
    color: #e0e0e0;
}

body.dark a {
    color: #ffffff;
}



body.dark .h1 {
    color: #fff; 
}

body.dark .h2{
    color: #fff;
}   
 


body.dark .container.mw-1620.bg-white.border-radius-10 {
    background-color: #000000 !important; /* Cor de fundo no modo escuro */
    border-radius: 10px !important;    /* Borda arredondada */
 
}

body.dark h2.section-title {
    color: rgb(255, 255, 255);  /* Cor do texto no modo escuro */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);  /* Adiciona uma sombra ao texto, para destacar mais */
}

.footer-dark {
    background-color: #131212; /* Cor escura para o fundo */
    color: white; /* Cor do texto em branco */
  }
  
  .footer-dark a {
    color: #ffffff; /* Cor dos links */
  }
  
  .footer-dark a:hover {
    color: #f8f9fa; /* Cor dos links ao passar o mouse */
  }
  
  .footer-dark .footer-column {
    border-bottom: 1px solid #495057; /* Adiciona bordas finas entre as colunas, se necessário */
  }
  
.dark .mb-0.service-title{
    color: #000000;
}
.dark .btn-link.default-underline.text-uppercase.fw-medium{
    color: #000000;
}

